# Database
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=wordpress
MYSQL_ROOT_PASSWORD=root

# WordPress local
LOCAL_WORDPRESS_PORT=8080
LOCAL_WORDPRESS_URL=http://localhost:8080
LOCAL_WORDPRESS_TITLE=Casino Affiliate Local
LOCAL_WORDPRESS_ADMIN_USER=admin
LOCAL_WORDPRESS_ADMIN_PASSWORD=admin
LOCAL_WORDPRESS_ADMIN_EMAIL=admin@example.com

# WordPress remote
REMOTE_WORDPRESS_PORT=80
REMOTE_WORDPRESS_URL=https://example.com
REMOTE_WORDPRESS_TITLE=Casino Affiliate
REMOTE_WORDPRESS_ADMIN_USER=admin
REMOTE_WORDPRESS_ADMIN_PASSWORD=change-this-password
REMOTE_WORDPRESS_ADMIN_EMAIL=admin@example.com

# Mounted repo names
WP_THEME_SLUG=wp-affiliate-theme
WP_PLUGIN_SLUG=wp-casino-affiliate-plugin